@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215 15% 40%;
  --secondary: 210 30% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --primary: 217 91% 60%;
  --primary-foreground: 210 40% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;
  --border: 216 34% 17%;
  --input: 216 34% 17%;
  --ring: 212 23.2% 21.8%;
  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;
  --muted: 223 47% 11%;
  --muted-foreground: 215 20% 65%;
  --secondary: 222 47% 11%;
  --secondary-foreground: 213 31% 91%;
  --primary: 217 91% 60%;
  --primary-foreground: 222 47% 11%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
}
